
<section class="answer">
    <div class="container">
        <div class="pre-title" id="pre-title">
            <div class="pre-title-grey">
                Результат прохождения теста
            </div>
            <img src="/images/arrow-grey.png" alt="Элемент">
            <div class="pre-title-name" id="pre-title-name">
                Тест №1. “JavaScript: Начальный уровень”
            </div>
        </div>
        <h1 class="answer-title"><span>Правильные ответы</span> к тесту</h1>
        <div class="person-info" id="person">
            <p class="person-text" id="personInfo">Тест проходил <span><b>Роман Чернов, itilogia@gmail.com</b></span></p>
        </div>
        <div class="answers-items">
            <div class="answer-item" id="question">

            </div>
        </div>
        <div class="back-res" id="back-result">
            <a href="javascript:void(0)">Обратно к моему результату теста<img src="/images/arrow-small.png" alt="Ответы"></a>
        </div>
    </div>
</section>