
<section class="main">
    <div class="container">
        <div class="main-info">
            <h1 class="big-title">
                Проверь свои знания JavaScript вместе с <span>АйтилогияQuiz</span>!
            </h1>
            <p class="main-text">
                Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!
            </p>
            <a href="#/signup" class="button">Начать тест</a>
        </div>
        <div class="main-image">
            <img src="/images/Main%20image.png" alt="Изображение">
        </div>
    </div>
</section>
